{% extends 'base.html.twig' %}

{% block title %}app:Resources:Band:show{% endblock %}

{% block body %}
<p>
    {{ "Grupa:" }}
    <p>Id: {{band.id}}</p>
    <p>Name: {{band.name}}</p>
</p>
{% endblock %}

