{% extends 'base.html.twig' %}

{% block title %}app:Resources:Band:show{% endblock %}

{% block body %}
    <p>
        <p>Grupa: {{band.name}}</p>
    </p>
    <p><br></p>
        {{ 'Kontakty:' }}
        {% for contacts_bands in contacts_bands %}
            <p><h4><a href="{{ path('app_contact_show', { 'id': contacts_bands.contact.id }) }}">{{contacts_bands.contact.name}}</a></h4></p>
        {% else %}
            <p>No contacts found</p>
        {% endfor %}
    <p><br></p>
{% endblock %}

