{% extends 'base.html.twig' %}

{% block title %}app:Resources:Band:showAll{% endblock %}

{% block body %}
    <p><br></p>
    {{ 'Grupy:' }}
    {% for band in bands %}
        <p><h4><a href="{{ path('app_band_show', { 'name': band.name }) }}">{{band.name}}</a></h4></p>
        
    {% else %}
        <p>No bands found</p>
        <a href="{{ path('app_band_new') }}">Stwórz grupę</a>
    {% endfor %}
{% endblock %}


